sudo: false
language: go
go_import_path: go.uber.org/atomic

go:
  - 1.7
  - 1.8
  - tip

cache:
  directories:
    - vendor

install:
  - make install_ci

script:
  - make test_ci
  - scripts/test-ubergo.sh
  - make lint
  - travis_retry goveralls -coverprofile=cover.out -service=travis-ci
